@font-face{
	font-family: DancingScript;
	src:url(../fuentes/static/DancingScript-Regular.ttf);
}
header{
	font-family: DancingScript;
	background: #5b7989;
	padding: 40px;
	text-align: left;
	color:white;
	text-shadow: 2px #02010a;
	border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
}
#menu-principal{
	font-family: dancingscript;
	float: right;
	color: white;
}

#paisajes{
	background-color: #d5c75f;
	border-width: 1px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.contenedor > div {
flex:1 0 30%;
  
}

.paisajes1{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.paisajes2{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.paisajes3{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.paisajes4{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.paisajes5{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.paisajes6{
	max-width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}


.Pie {
	margin: 0;
 	padding: 0;
 	display: flex;
	flex-flow: row wrap;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}
.contactos{
	font-family: dancingscript;
	width: 20%;	
}
.terminos{
	font-family: dancingscript;
	width: 20%;
}
.redessociales{
	font-family: dancingscript;
	width: 20%;
}
.derechos{
	font-family: dancingscript;
	width: 20%;
}

body {
  position: relative;
  animation: mymove 5s ;
}

@keyframes mymove {
  0%   {top: 150px;}
  60%  {top: -5px;}
  100% {top: 0px;}
}
@media (max-width:900px){
	header{
		text-align: center;
	}
	#menu-principal{
        text-align: center;
	}
	.contenedor {
		display: flex;
		flex-direction:column;
	}

	.Pie {
 		display: flex;
		flex-flow: column;
	}	
}